html,
body,
body.overlay {
  background-color: #ffffff;
  color: #3b3b3b;
  height:100%;
  padding:0px;
  margin:0px;
}
#header{
  background-color: #93CC68;
}
#header .logo img {
  background: white;
  padding: 5px 3px 0px;
}
#main-wrapper,
.panel {
  background-color: #ffffff;
}
.site-name,
.site-slogan {
  color: #000;
  margin-top:20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid;
}
h1,h2,h3,h4 {
  color: #000;
}

.front .panel-top h1.pane-title,
.front .panel-top h2.pane-title,
.front .panel-top h3.pane-title,
.front .panel-top h4.pane-title {
  color: #000;
}

.pane-dkan-sitewide-demo-front-dkan-demo-front .pane-content,

.form-actions {
  background-color: #ffffff;
}

a {
  color: #274E13;
}
a:hover,
a:focus {
  color: #0a9e00;
}
a:active {
  color: #073a03;
}

div.vertical-tabs {
  border-color: #cccccc;
}
div.vertical-tabs ul.vertical-tabs-list li {
  border-color: #ffffff #cccccc #ffffff #ffffff;
}
div.vertical-tabs ul.vertical-tabs-list li.selected {
  border-color: #cccccc #ffffff #cccccc #cccccc;
}
div.vertical-tabs ul.vertical-tabs-list li a:hover {
  background:  #42a53b;
  color: #ffffff;
}

.navigation-wrapper {
  background: #007237;
}
.navbar-default .navbar-nav li > a,
.navbar-default .user-menu li > a { color: #FFFFFF; }

.navbar-default .navbar-nav li.open > a,
.navbar-default .navbar-nav .dropdown-menu { background: #1d6919; }

.navbar-default .navbar-nav .open .dropdown-menu li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu li > a:active { background-color:#42a53b; }

.navbar-default .navbar-nav li.open > a:hover,
.navbar-default .navbar-nav li.open > a:focus,
.navbar-default .navbar-nav li.open > a:active,
.navbar-default .navbar-nav li > a:hover,
.navbar-default .navbar-nav li > a:focus,
.navbar-default .navbar-nav li > a:active,
.navbar-default .user-menu li > a:hover,
.navbar-default .user-menu li > a:focus { background-color:#42a53b; color: #fff; }

.navbar-default .navbar-nav li.active > a,
.navbar-default .navbar-nav li.active > a:hover,
.navbar-default .navbar-nav li.active > a:focus,
.navbar-default .navbar-nav li.active > a:active,
.navbar-default .user-menu li.active > a,
.navbar-default .user-menu li.active > a:hover,
.navbar-default .user-menu li.active > a:focus { background:#073a03; color: #fff; }

#block-dkan-sitewide-dkan-sitewide-user-menu .links a:hover, 
#block-dkan-sitewide-dkan-sitewide-user-menu .links a:focus { background-color:#42a53b; color: #fff; }


.tabs--primary.nav-pills li a,
.tabs--primary li a {
  border:1px solid #cccccc;
  background: #ffffff;
  color: #1d6919;
}

.tabs--primary.nav-pills li a:hover,
.tabs--primary li a:hover {
  border:1px solid #42a53b;
  background: #42a53b;
  color: #ffffff;
}

.tabs--primary.nav-pills > li > a.active,
.tabs--primary.nav-pills > li > a:focus
.tabs--primary.nav-pills li.active a:hover,
.tabs--primary.nav-pills li.active a:focus,
.tabs--primary li a.active
.tabs--primary li a:focus {
  border:1px solid #42a53b;
  background: #42a53b;
  color:#ffffff;
}

.pane-views-group-block-block .group-subscribe-message,
#block-views-group-block-block .block-content .group-subscribe-message {
  background-color: #1d6919;
}

.view-group-block .views-field-nid a,
.btn-primary,
.links .btn,
input.btn {
  background-color: #1d6919;
  border:1px solid #1d6919;
  color:#ffffff;
}

.view-group-block .views-field-nid a:hover,
.btn-primary:hover,
.links .btn:hover,
input.btn:hover,
input[type="submit"]:hover {
  background:#42a53b;
  border:1px solid #42a53b;
  color:#ffffff;
}


.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active,
.links .btn:focus,
.links .btn.focus,
input.btn:focus, 
input[type="submit"]:focus, 
input[type="submit"]:active {
  background: #073a03;
  border-color: #073a03;
  color: #ffffff;
}

.region-sidebar-first .block-facetapi ul li.leaf a:hover,
.block-facetapi ul li.leaf a:hover {
  color:#1d6919;
}

a.embed-link {
  background: #1d6919;
}
a.embed-link:hover, 
a.embed-link:focus, 
a.embed-link:active {
  background: #42a53b;
}

.autocomplete-deluxe-container,
div.autocomplete-deluxe-multiple,
.chzn-container-multi .chzn-choices,
.chzn-container-single .chzn-single,
.form-control,
.panel-default {
  border-color: #cccccc;
}

.panel-default > .panel-heading {
  color: #000;
  background-color: #cccccc;
  border-color: #cccccc;
}

.panel-full-width .panel-top {
  background:#42a53b;
  height:200px;
}
.radix-layouts-sidebar .pane-block .pane-content,
.radix-layouts-content .pane-content,
.view-front-page-group-grid .span6 span, 
.view-front-page-group-grid .col-lg-6 span,
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  background-color: #ffffff;
}
.radix-layouts-sidebar .pane-title {
  background: #cccccc;
  color: #000000;
}
.radix-layouts-sidebar div[class*="pane-facetapi"] .pane-title {
  background: #dddddd;
  color: #333333;
}
.radix-layouts-sidebar div[class*="pane-facetapi"] .pane-content {
  background: #fff;
}

.horizontal-tabs ul.horizontal-tabs-list .selected strong {
  color: #000000;
}

#url-edit-prefix {
  background-color: #ffffff;
  border-color: #cccccc; 
}
#url-slug,
#field-tags-wrapper .path-form .add-on {
  background-color: #073a03;
  border-color: #cccccc;
  color: #ffffff;
}

ul.resource-list li .heading, 
ul.resource-list li .heading:hover {
  color: #000000;
}

.footer {
  background-color: #d9d1c3;
  color: #222222;
}
.footer a {
  color: #274e13;
}
.hrule{
  border-bottom: 1px solid #72D26D;
  margin-top:20px;
}
.socialIcon{
  float:left;
  display:block;
  margin: 20px 0 5px 0px;
}
.footerDisclaimer{
  font-size:12px;
  margin-bottom: 5px;
}
.footerTagline{
  font-size:20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.footerSupport{
  font-size: 12px;
  color:#555;
}
.footerImage{
  margin-top:10px;
  margin-right:20px;
}
.footerNotice{
  font-size:10px;
  float:right;
  display: block;
  margin-right:45%;
  margin-top:-10px;
}
.sectionHeading{
  font-size:20px;
  font-weight:bold;
  display: inline-block;
}
.datasetCountLabel{
  display: block;
  float: right;
  margin: 0 0 20px 10px;
  font-size:12px;
  background-color:#04743a;
}
.borderImage{
  height:150px;
}
.headerTranslate{
  display:block;
  float:right;
}
.datasetTheme{
  width:150px; 
  height:150px; 
  background-color:#D9D1C3;
  color:#1d6919;
  font-size:14px;
  font-weight: bold;
  margin-left:15px;
  margin-bottom:20px;
}
.datasetThemeSmall{
  width:200px; 
  height:40px;
  line-height:40px; 
  background-color:#E8E0D1;
  color:#1d6919;
  font-size:14px;
  padding:5px;
}
.datasetThemeSmallOdd{
  background-color:#D9D1C3;
}
.dataSetThemeSmallLineBreak{
  line-height:17px;
}
.datasetThemeRow{
  line-height: 100%;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}
.middleContent{
    min-width:800px;
}
.themeIcon{
  font-size:50px;
  color:#fff;
  margin-left:50px;
  margin-top:25px;
}
.themeIconStandard{
  color:#fff; 
}
.themeText{
  width:100px;
  margin-left:25px;
  margin-top:10px;
  text-align: center;
}
.translateRegion{
  display: block;
  float:right;
  margin-top:60px;
  width:170px;
}
.themeMenuSpacer{
  display:block; 
  float:left; 
  width:200px; 
  height:65px;
  margin-right:25px;
}
.themeMenu{
  display:block; 
  float:left; 
  width:200px; 
  height:440px; 
  margin-top:-90px;
  background-color: #fff;
}
.mainContentWrapper{
  display:block; 
  float:left; 
  width: -moz-calc(100% - 215px);
  width: -webkit-calc(100% - 215px);
  width: calc(100% - 215px);
  min-height:500px;
}
.themeMenuHeader{
  width:100%; 
  height:35px; 
  line-height:35px; 
  background-color:#1d6919; 
  color:#fff; 
  font-size:16px; 
  font-weight:bold; 
  display:block;
}
.selectedTheme{
  background-color:#fff;
}
.headerRowStyle{
  background-color:#935416;
  color:#fff;
  border:none;
}
.headerRowStyle:hover{
  background-color: #935416;
}
.sub-theme{
  background-color:#E8E0D1; 
  color:#1d6919;
  display:block;
  float:left;
  width:auto;
  margin-right:10px;
  margin-top:10px;
  padding:5px;
}
.sub-theme-text{
  display:block;
  float:left;
  width:auto;
  margin-left:-5px;
  margin-right:10px;
  margin-top:10px;
  padding:5px;
  font-size:16;
  color:#999;
}
.downloadButton{
  display:block; 
  float:right;
  font-size:14px;
}
.orangeLeftBlock{
  display:block; 
  float:left; 
  width:45%; 
  margin-left:30px;
}
.orangeRightBlock{
  display:block; 
  float:left; 
  width:45%; 
  margin-left:10px; 
  font-weight:bold;
}
.orangeBlockHeader{
  font-size:16px; 
  font-weight:bold;
}
.greenLeftBlock{
  display:block; 
  float:left; 
  width:700px; 
  margin-left:30px;
}
.greenRightBlock{
  display:block; 
  float:right;  
  margin-left:10px; 
  font-weight:bold;
}
.imageContainer{
  width:195px; 
  margin-top:5px; 
  margin-left:1px; 
  display:block; 
  float:left;
}
.imageTitle{
  width:100%; 
  display:block; 
  background-color:#E8E0D1; 
  color:#1d6919; 
  text-align:center; font-weight:bold;
  font-weight: bold;
  height:20px;
}
.site-label{
  background-color:#CBCBCB;
}